@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root{
    --grid-cols: 1;
    --grid-rows: 1;
}

html{
    font-family: "Open Sans", sans-serif;
}

.grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: 2rem auto;
    border: 2px solid black;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

h1{
    color: black;
    font-size: 4rem;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1rem;
    border-radius: 15px;
    background-color: whitesmoke;
    color: black;
    font-size: 2rem;
}

button:hover{
    background-color: lightgray;
}

body{
    background-color: lightblue;
}

.grid-item{
    border: 1px solid black;
}

@media (max-device-width: 501px){
    h1{
        font-size: 8rem;
    }
    .grid-container{
        width: 700px;
        height: 700px;
    }
}
